/* Navbar container */
.navbar {
    padding: 15px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: "Poppins";
    background-color: #071f4b;
    color: #fff;
}

/* Navbar menu styling */
.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #fff;
    font-size: 18px;
    align-items: center;
}

/* Active menu effect */
.navbar-menu .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #DAA520;
}

/* Links hover effect */
.navbar-menu a,
.navbar-menu Link {
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease;
}

/* Hover effect for links */
.navbar-menu a:hover,
.navbar-menu Link:hover {
    color: #DAA520; /* Highlight color on hover */
    border-bottom: 2px solid #DAA520; /* Underline on hover */
}

/* Icons styling */
.navbar-menu .icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    transition: filter 0.3s ease;
}

.navbar-menu .icon:hover {
    filter: brightness(0) saturate(100%) invert(62%) sepia(88%) saturate(746%) hue-rotate(43deg) brightness(95%) contrast(91%);
}

/* User menu styles */
.user-menu button {
    position: fixed;
    display: flex;
    align-items: center;
    color: #ffffff;
    background-color: #071f4b;
    padding: 2px 2px;
    border-radius: 7px;
    border-color: #DAA520;
    cursor: pointer;
}

.user-menu button:hover {
    color: #000000;
    background-color: #ffffff;
}

