/* Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  padding: 0 8%;
  margin: 20px 0px 50px 0px;

}


/* Styling the music grids */
.grid-item {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 0.8rem;
  text-align: center;
  cursor: pointer;
  font-size: 0.9rem;
}

/* Item active styles */
.grid-item.active {
  border: 2px solid #000957;
  box-shadow: 0 0 10px rgba(0, 9, 87, 0.5);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.grid-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}


/* Genre Image */
.genre-image {
  width: 100%;
  height: auto;
  max-height: 120px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 0.8rem;
}


/* Explore header */
.explore-header {
  text-align: center;
  padding: 1.5rem;
  background: #000957;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}


/* Explore Button */
.explore-button {
  background: #000957;
  color: white;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 4px;
  font-size: 0.85rem;
  cursor: pointer;
  transition: background 0.3s ease;
}


/* Hover effect */
.explore-button:hover {
  background: #d26821;
}


/* Tab Content */
#tab-content {
  align-content: center;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #000957;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.explore-header h1, 
.explore-header p {
    color: white !important;
}

#tab-content h3 {
  color: rgb(32, 180, 248) !important;
  padding: 0 8%;

}

#tab-content p {
    color: rgb(255, 255, 255) !important;
    padding: 0 8%;

}

/* Default explore content */
.default-info {
  background-color: rgb(184, 184, 184);
  padding: 0 8%;

}